*.o
*.o.d
*.a
*.make
*.cmake
*.check_cache
*.txt
*.out
*.bin
*.c
*.log
Makefile2
*.marks
*.ts
external/tecio/teciosrc/Makefile
szcombine
CMakeCXXCompilerId.cpp
src/StandardIntegralTypes.h
src/TECIO.h
src/tecio_Exports.h
*.so
**/build
**/*.egg-info

**/.vscode
